<!doctype html>
<html>
  <head>
    <title>{{ $.Site.Title }}</title>

    <meta charset="utf-8">

    <meta name="description" content="{{ $.Site.Params.Description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body class="practices">
    {{ partial "header.html" . }}
    
    <article>
      <div class="article-heading">
        <span class="practices">Practices:</span> 
        <span>Which DAO practices are decentralising coordination?</span>
      </div>
    </article>

    {{ partial "list.html" . }}

    {{ partial "footer.html" . }}
    {{ partial "tracking.html" . }}
    <script src="/js/favicon.js"></script>
  </body>
</html>
