<footer>
  <div class="wrapper">
    <div>
      Sign up for DAOistry updates
      <form action="https://voice.msg.gdn/subscribe" method="POST" accept-charset="utf-8">
	<input type="email" name="email" id="email" placeholder="email"/><div style="display:none;">
	  <label for="hp">HP</label><br/>
	  <input type="text" name="hp" id="hp"/>
	</div>
	<input type="hidden" name="list" value="nujckWt7ydaEK8925eD74aOg"/>
	<input type="hidden" name="subform" value="yes"/>
	<input type="submit" name="submit" id="submit"/>
      </form>
	</div>
		<div class="links">
			<a href="/collaborate/" >Collaborate</a> • 
			<a href="/credits/" >Credits</a>
		</div>
</footer>

<svg xmlns="//www.w3.org/2000/svg" version="1.1" class="svg-filters" style="display:none;">
  <defs>
    <filter id="marker-shape">
      <feTurbulence type="fractalNoise" baseFrequency="0 0.15" numOctaves="1" result="warp"></feTurbulence>
      <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="30" in="SourceGraphic" in2="warp"></feDisplacementMap>
    </filter>
  </defs>
</svg>


<!-- Filter: https://css-tricks.com/gooey-effect/ -->
<svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
  <filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
  <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
  </filter>
  </defs>
</svg>
				
<script type="text/javascript">
//<![CDATA[
var owa_baseUrl = 'https://light.msg.gdn/';
var owa_cmds = owa_cmds || [];
owa_cmds.push(['setSiteId', 'e900aa5928ffa128ef7bd06c93eb1745']);
owa_cmds.push(['trackPageView']);
owa_cmds.push(['trackClicks']);

(function() {
	var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
	owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
	_owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
	var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
}());
//]]>
</script>
				
		
