<header>
    <div class="wrapper">
       <a class="banner-link" href="https://gitcoin.co/grants/5367/daoistry">
       <div class="banner">
         <strong>We need your support on Gitcoin!</strong>
         <p>Only a few days left, and your $1 donation can get match-funded 50X!
      </div>
      </a>
    </div>
  <div class="wrapper">
    <a class="logo" href="/">DAOistry</a>
    <div class="links">
       <a class="practices" href="/practices">practices</a> • <a class="mindsets" href="/mindsets">mindsets</a> • <a href="/credits/" >sources</a>
    </div>
  </div>
</header>
