<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ $.Site.Title }}</title>

    <meta charset="utf-8" />

    <meta name="description" content="{{ $.Site.Params.Description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body class="main">
    {{ partial "header.html" . }}

    <article class="home-options">
      <div class="main-option">
        <a href="/practices">
          <h2>
            Which DAO practices are decentralising coordination? 
          </h2>
          <p class="get-started">
            Start
          </p>
        </a>
      </div>
      <div class="main-option">
        <a href="/mindsets">
          <h2> How do blockchain's leaders see new opportunities for society?           </h2>
          <p class="get-started">
            Understand
          </p>
        </a>
      </div>
    </article>

    {{ partial "footer.html" . }} {{ partial "tracking.html" . }}
    <script src="/js/favicon.js"></script>
  </body>
</html>
